.no-display {
  display: none !important;
}

.vertical-hr {
  height: 20px;
  width: 1px;
}

hr.small-display {
  @media (min-width: $screenTablet) {
    display: none;
  }
}

.a-bounce {
  animation: lightSpeedInLeft;
  animation-duration: 0.75s;
}
