header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 8vh;

  li a {
    font-weight: 600;
  }

  /* SMALL DISPLAYS */
  @media (max-width: $screenTablet) {
    nav.desktop-nav {
      display: none;
    }

    div.mobile-nav-section {
      position: relative;

      nav {
        display: block;
        right: 0;
        position: absolute;
        background-color: $secondaryBackgroundColor;
        min-width: 200px;
        border: solid 1px $secondaryTextColor;
        padding: 12px 16px;
        z-index: 1;

        li {
          padding: 5px 0;
        }
      }

      button.navbar-menu-button {
        background-color: $mainBackgroundColor;
        border: solid 1px $secondaryTextColor;
        color: $secondaryTextColor;
        padding: 10px 20px;
      }
    }
  }

  /* BIG DISPLAYS */
  @media (min-width: $screenTablet) {
    .mobile-nav-section {
      display: none !important;
    }

    nav.desktop-nav {
      display: flex;
      flex-direction: row;

      ul {
        display: flex;

        li {
          padding: 0 10px;
        }
      }
    }
  }
}

main {
  @media (min-width: $screenTablet + 1) {
    section {
      &.section-presentation {
        width: 100%;
        align-self: center;
      }

      &.section-personal-information {
        display: flex;
        flex-direction: column;
        width: 100%;
      }

      &.timeline-section,
      &.section-technologies,
      &.section-courses,
      &.section-languages,
      &.section-extra {
        flex: 1 1 auto;
        border: solid $primaryTextColor 1px;
        border-radius: 30px;
        padding: 50px;
        background-color: $secondaryBackgroundColor;
        margin: 20px;
        animation: fadeIn;
        animation-duration: 2s;
      }
    }
  }

  section.section-personal-information {
    @media (max-width: $screenTablet) {
      display: flex;
      flex-direction: column;
    }

    p {
      padding: 5px 8%;
    }

    @media (min-width: $screenTablet + 1) {
      align-items: center;
      justify-content: center;
      align-self: center;
      display: flex;
      width: 70%;
      margin: 50px;

      p {
        padding: 15px 0;
      }
    }
  }

  section.section-courses {
    display: flex;
    flex-direction: column;
    align-items: center;


    h2 {
      padding: 20px;
      justify-self: flex-start;
    }

    p {
      margin-bottom: 15px;

      @media (max-width: $screenTablet) {
        margin-left: 20px;
        display: flex;
        justify-content: flex-start;
      }

      @media (min-width: $screenTablet + 1) {
        justify-content: center;
      }

      span {
        margin: 0 5px;
      }
    }
  }

  section.section-languages {
    @media (max-width: $screenTablet) {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }

    h2 {
      padding: 20px;
    }

    p {
      margin-left: 20px;
      display: flex;
      justify-content: center;
      margin-bottom: 15px;

      span {
        margin: 0 5px;
      }
    }
  }

  section.section-extra {
    @media (max-width: $screenTablet) {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }


    h2 {
      padding-bottom: 20px;
    }

    p {
      margin-left: 20px;
      justify-content: center;
      margin-bottom: 15px;
    }
  }

  section.section-presentation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;


    @media (min-width: $screenMobile + 1) {
      flex-direction: row-reverse;
    }

    .presentation-text {
      display: flex;
      flex-direction: column;

      * {
        padding: 10px 0;
      }

      @media (max-width: $screenMobile) {
        flex: 1;
        padding-right: 5px;

      }
      @media (min-width: $screenMobile + 1) {
        padding-right: 50px;

      }
    }

    .presentation-image {
      display: flex;
      justify-content: center;
      text-align: center;

      img {
        border-radius: 50%;
        shape-outside: circle();
      }

      @media (max-width: $screenMobile) {
        flex-direction: column;

        img {
          width: 150px;
          height: 160px;
        }

        p {
          margin-top: 10px;
        }
      }

      @media (min-width: $screenMobile + 1) {
        flex-direction: row-reverse;
        align-items: center;

        img {
          width: 225px;
          height: 240px;
        }

        p {
          margin-right: 50px;
          font-weight: 600;
        }
      }
    }
  }

  section.timeline-section {
    h2 {
      width: 100%;
    }

    div.timeline-entry {
      display: flex;
      flex-flow: row;
      margin: 30px 0;

      div.timeline {
        flex: 1;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;

      }

      hr {
        border-color: darken($primaryTextColor, 50%);
      }

      div.timeline-section-text {
        flex: 3;
        justify-content: center;
        align-self: center;

        p {
          margin-top: 5px;
        }
      }
    }
  }

  section.section-technologies {
    @media (max-width: $screenTablet) {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      flex: 1;
      padding: 0 5px;
    }

    h2 {
      flex: 100%;
      margin-bottom: 20px;
    }

    .technology-row {
      flex: 1;
      display: flex;
      padding: 5px;
      min-width: 40%;
      justify-content: center;

      @media (min-width: $screenMobile + 1) {
        max-width: 45%;
      }

      @media (min-width: $screenTablet + 1) {
        min-width: 100%;
      }

      div {
        flex: 1;
        display: flex;
        justify-content: center;

        i {
          margin: 0;
          padding: 0;
          color: #FD0;
        }
      }

    }
  }
}
