/* Fonts section */
@font-face {
  font-family: 'Noto Sans';
  src: url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
}

$defaultFont: 'Noto Sans', sans-serif;

/* Colors section */
$mainBackgroundColor: rgba(0 0 0 / 0.7);
$secondaryBackgroundColor: #2F2F2F;
$primaryTextColor: #FCFCFC;
$secondaryTextColor: #D2F898;
$whiteTextColor: #FFF;

$sidenavBackgroundColor: darken($mainBackgroundColor, 10%);
$sidenavColor: darken($primaryTextColor, 10%);

/*Screen size*/
$screenTablet: 1025px;
$screenMobile: 479px;
