html,
body {
  width: 100%;
  height: 100%;
  background-color: $mainBackgroundColor;
  color: $primaryTextColor;
  font-family: $defaultFont;

  ul {
    list-style-type: none;
  }

  a {
    text-decoration: none;
    font-family: $defaultFont;
    color: $secondaryTextColor;
  }

  a:hover {
    color: darken($secondaryTextColor, 30%);
  }

  header {
    color: $secondaryTextColor;
    background-color: $secondaryBackgroundColor;
    display: flex;
    box-shadow: 1px 1px lighten($secondaryBackgroundColor, 5%);
    padding: 0 3vw;
  }

  main {
    margin-top: 20px;
    padding: 0 5px;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-items: flex-end;
    justify-content: center;

    hr {
      margin: 20px 0;
      border: solid 1px $secondaryTextColor;
      color: $secondaryTextColor;
      width: 80vw;
      justify-self: center;
    }
  }
}
